body {
    background: #1f1f1f;
}

body a:link {
    text-decoration: underline;
    color: #20c20e;
}

blockquote {
    margin-left: 0;
    padding-left: 15px;
    border-left: 2px solid #20c20e;
}

::-moz-selection,
::selection {
    background: #20c20e;
}

.all-content-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    & a {
        text-decoration: none;
    }
}

.header {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    & a:link {
        color: white;
        text-decoration: none;
    }
}

.table-of-contents {
    margin: 40px 0;
}

.table-of-contents a:link {
    color: grey;
}

.table-of-contents p {
    color: grey;
    line-height: 1;
}

.blog-list-container {
    display: flex;
    height: 75vh;

    & .sidebar {
        flex: 1;
        margin-right: 10px;
        padding-right: 30px;
    }

    & .sidebar a:link {
        color: white;
        text-decoration: none;
    }

    & .blog-list {
        flex: 3;
        overflow: scroll;

        & .blog-list-item {
            border-bottom: 2px solid #5f5f5f;
            padding-bottom: 20px;
            margin-bottom: 20px;

            & h2 {
                margin-bottom: 10px;
            }

            & a:link {
                text-decoration: none;
            }
        }
    }

    & .blog-content {
        flex: 3;
        overflow: scroll;
        padding: 0 10px;
        & h2 {
            margin-bottom: 10px;
        }
        & h4 {
            font-size: 21px;
        }

        & img {
            margin: 0 auto !important;
            display: block;
        }

        & h6.photo-caption {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 989px) {
    .all-content-container {
        width: 100%;
    }

    .blog-list-container {
        flex-direction: column;
        & .sidebar {
            display: none;
        }
        & .blog-content {
            overflow: auto;
        }
    }
}

.blog-list::-webkit-scrollbar,
.blog-content::-webkit-scrollbar {
    display: none;
}
